<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>CumberlandBankHomePage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>JerseyContainer</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.revature.colin.project1</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>JerseyContainer</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.revature.colin.servlets.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/employeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.colin.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Accounts</display-name>
    <servlet-name>Accounts</servlet-name>
    <servlet-class>com.revature.colin.servlets.Accounts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accounts</servlet-name>
    <url-pattern>/accounts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerPendingTransactions</display-name>
    <servlet-name>CustomerPendingTransactions</servlet-name>
    <servlet-class>com.revature.colin.servlets.CustomerPendingTransactions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerPendingTransactions</servlet-name>
    <url-pattern>/CustomerPendingTransactions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerPendingTransaction</display-name>
    <servlet-name>CustomerPendingTransaction</servlet-name>
    <servlet-class>com.revature.colin.servlets.CustomerPendingTransactions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerPendingTransaction</servlet-name>
    <url-pattern>/customerPendingTransaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveCustomerTransaction</display-name>
    <servlet-name>ApproveCustomerTransaction</servlet-name>
    <servlet-class>com.revature.colin.servlets.ApproveCustomerTransaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveCustomerTransaction</servlet-name>
    <url-pattern>/approveCustomerTransaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectCustomerTransaction</display-name>
    <servlet-name>RejectCustomerTransaction</servlet-name>
    <servlet-class>com.revature.colin.servlets.RejectCustomerTransaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectCustomerTransaction</servlet-name>
    <url-pattern>/rejectCustomerTransaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccount</display-name>
    <servlet-name>CreateAccount</servlet-name>
    <servlet-class>com.revature.colin.servlets.CreateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccount</servlet-name>
    <url-pattern>/createAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerCreatedAccount</display-name>
    <servlet-name>CustomerCreatedAccount</servlet-name>
    <servlet-class>com.revature.colin.servlets.CustomerCreatedAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerCreatedAccount</servlet-name>
    <url-pattern>/customerCreatedAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawalPage</display-name>
    <servlet-name>WithdrawalPage</servlet-name>
    <servlet-class>com.revature.colin.servlets.WithdrawalPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawalPage</servlet-name>
    <url-pattern>/withdrawalPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawalConfirmPage</display-name>
    <servlet-name>WithdrawalConfirmPage</servlet-name>
    <servlet-class>com.revature.colin.servlets.WithdrawalConfirmPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawalConfirmPage</servlet-name>
    <url-pattern>/withdrawalConfirmPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositPage</display-name>
    <servlet-name>DepositPage</servlet-name>
    <servlet-class>com.revature.colin.servlets.DepositPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositPage</servlet-name>
    <url-pattern>/depositPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositConfirmPage</display-name>
    <servlet-name>DepositConfirmPage</servlet-name>
    <servlet-class>com.revature.colin.servlets.DepositConfirmPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositConfirmPage</servlet-name>
    <url-pattern>/depositConfirmPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveUserMenu</display-name>
    <servlet-name>ApproveUserMenu</servlet-name>
    <servlet-class>com.revature.colin.servlets.ApproveUserMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveUserMenu</servlet-name>
    <url-pattern>/approveUserMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserApprovalPage</display-name>
    <servlet-name>UserApprovalPage</servlet-name>
    <servlet-class>com.revature.colin.servlets.UserApprovalPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserApprovalPage</servlet-name>
    <url-pattern>/userApprovalPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveAccountMenu</display-name>
    <servlet-name>ApproveAccountMenu</servlet-name>
    <servlet-class>com.revature.colin.servlets.ApproveAccountMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveAccountMenu</servlet-name>
    <url-pattern>/approveAccountMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountApprovalPage</display-name>
    <servlet-name>AccountApprovalPage</servlet-name>
    <servlet-class>com.revature.colin.servlets.AccountApprovalPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountApprovalPage</servlet-name>
    <url-pattern>/accountApprovalPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllTransactions</display-name>
    <servlet-name>AllTransactions</servlet-name>
    <servlet-class>com.revature.colin.servlets.AllTransactions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllTransactions</servlet-name>
    <url-pattern>/allTransactions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUser</display-name>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>com.revature.colin.servlets.CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/createUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferMenu</display-name>
    <servlet-name>TransferMenu</servlet-name>
    <servlet-class>com.revature.colin.servlets.TransferMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferMenu</servlet-name>
    <url-pattern>/transferMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InternalTransfer</display-name>
    <servlet-name>InternalTransfer</servlet-name>
    <servlet-class>com.revature.colin.servlets.InternalTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InternalTransfer</servlet-name>
    <url-pattern>/internalTransfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InternalTransferComplete</display-name>
    <servlet-name>InternalTransferComplete</servlet-name>
    <servlet-class>com.revature.colin.servlets.InternalTransferComplete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InternalTransferComplete</servlet-name>
    <url-pattern>/internalTransferComplete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExternalTransfer</display-name>
    <servlet-name>ExternalTransfer</servlet-name>
    <servlet-class>com.revature.colin.servlets.ExternalTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExternalTransfer</servlet-name>
    <url-pattern>/externalTransfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExternalTransferComplete</display-name>
    <servlet-name>ExternalTransferComplete</servlet-name>
    <servlet-class>com.revature.colin.servlets.ExternalTransferComplete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExternalTransferComplete</servlet-name>
    <url-pattern>/externalTransferComplete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveOrRejectPendingTransactions</display-name>
    <servlet-name>ApproveOrRejectPendingTransactions</servlet-name>
    <servlet-class>com.revature.colin.servlets.ApproveOrRejectPendingTransactions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveOrRejectPendingTransactions</servlet-name>
    <url-pattern>/approveOrRejectPendingTransactions</url-pattern>
  </servlet-mapping>
</web-app>